<form action="/auth/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Email
    <input type="email" name="email" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
  <label>Role</label>
  <select id="role" name="role">
    <option value="user" name="user">User</option>
    <option value="admin" name="admin">Admin</option>
  </select>

  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}