<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Dashboard | Coffee In A Box</title>
  </head>
  <body>

    {{! Navbar }}
    <nav class="navbar navbar-expand-lg px-5 py-3 mx-auto text-dark">
      <div class="container-fluid">
        <div class="brand">
          <a class="navbar-brand pr-5 mr-5" href="/"><img
              class="brand-logo"
              src="/images/coffee-logo.png"
              alt="brand-logo"
            />Coffee In A Box</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 pl-5 ml-5">
            <li class="nav-item mx-1">
              <a class="nav-link" href="/">SUBSCRIPTION</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/box">OUR PREVIOUS BOXES</a>
            </li>
            {{#if session.userId}}
              <li class="nav-item mx-1">
                <a class="nav-link" href="/account/dashboard">MY ACCOUNT</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/logout">LOGOUT</a>
              </li>

            {{else}}
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/signup">SIGNUP</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/login">LOGIN</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section }}
    <div class="container dashboard">
      <br />
      <h1 class="account-greet">Dear
        {{user.username}}, Welcome to your account!✨</h1>
      <br />
      <a class="account-item" href="/account/information">📌 My Information</a>
      <br />
      <a class="account-item" href="/account/subscription">🎁 My Order History</a>
      <br />
      <a class="account-item" href="/auth/logout">👋 Logout</a>
    </div>

    <footer>&copy; Coffee In A Box | 2022</footer>
  </body>
</html>