<h1>My Information</h1>
<h3>Name: {{user.username}}</h3>
<h3>Email: {{user.email}}</h3>
<a href="#">Change Password | </a>
<a href="/account/edit-details">Modify information</a>
<br />
<a href="/account/dashboard">🔙Go Back</a>