<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    {{! Navbar }}
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Coffee In A Box</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">💌SUBSCRIPTION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/box">🎁OUR PREVIOUS BOXES</a>
            </li>
            {{#if session.userId}}
              <li class="nav-item">
                <a class="nav-link" href="/account/dashboard">🎈MY ACCOUNT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">LOGOUT</a>
              </li>

            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/auth/signup">SIGNUP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">LOGIN</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section }}
    <div class="container">
      <br />
      <h1>My Information</h1>
      <h3>Name: {{user.username}}</h3>
      <h3>Email: {{user.email}}</h3>
      <a href="#">Change Password | </a>
      <a href="/account/edit-details">Modify information</a>
      <br />
      <br />
      <a href="/account/dashboard">🔙Go Back</a>
    </div>
    <footer>&copy; Coffee In A Box | 2022</footer>
  </body>
</html>