<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe | Coffee In A Box</title>
    <link rel="stylesheet" href="stylesheets/pricing.css" />
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/pricing/"
    />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/product/"
    />

  </head>
  <body>

    {{! Navbar }}
    <nav class="navbar navbar-expand-lg px-5 py-3 mx-auto text-dark">
      <div class="container-fluid">
        <div class="brand">
          <a class="navbar-brand pr-5 mr-5" href="/"><img
              class="brand-logo"
              src="/images/coffee-logo.png"
              alt="brand-logo"
            />Coffee In A Box</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 pl-5 ml-5">
            <li class="nav-item mx-1">
              <a
                class="nav-link"
                href="/subscription/presentation"
              >SUBSCRIPTION</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/box">OUR PREVIOUS BOXES</a>
            </li>
            {{#if session.userId}}
              <li class="nav-item mx-1">
                <a class="nav-link" href="/account/dashboard">MY ACCOUNT</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/logout">LOGOUT</a>
              </li>

            {{else}}
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/signup">SIGNUP</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="/auth/login">LOGIN</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section}}

    <div class="container">

      <header>
        {{! <img src="/images/banner-img.png" alt="banner-img" width="1100px" /> }}
        <br />
        <div
          class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light text-center pricing-banner"
        >
          <div class="col-md-6 p-lg-6 mx-auto my-4">
            <h1 class="fw-normal">Get A Box!</h1>
            <p class="lead fw-normal">Subscribe now and start a coffee journey
              with us.</p>
            <a class="btn btn-outline-secondary" href="#pricing-section">CHECK
              OUR PLAN</a>
          </div>
        </div>
      </header>

      <div id="pricing-section">
        <div class="pricing-header p-3 pb-md-4 mt-5 mb-3 mx-auto text-center">
          <h1 id="pricing-title" class="pricing-title fw-normal">Subscribe to
            Coffee In A Box</h1>
          <p class="fs-5 text-muted">Every month, you will find a box of coffee
            bean directly in your mailbox.</p>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col">
          <form action="/subscription/checkout" method="post">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Discovery</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">€15.90<small
                    class="text-muted fw-light"
                  >/box</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>1 box discovery</li>
                  <li>delivery included</li>
                </ul>
                <button
                  type="submit"
                  class="discovery w-100 btn btn-lg btn-outline-primary"
                >Purchase
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col">
          <form action="/subscription/checkout" method="post">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div
                class="card-header py-3 text-light bg-primary border-primary"
              >
                <h4 class="my-0 fw-normal">Experience</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">€13.90<small
                    class="text-muted fw-light"
                  >/box</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>€41.70 in one time</li>
                  <li>3 boxes experience</li>
                  <li>best gift for friends</li>
                </ul>
                <button
                  type="submit"
                  class="experience w-100 btn btn-lg text-light btn-primary"
                >Purchase</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col">
          <form action="/subscription/checkout" method="post">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Anniversary</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">11.90€<small
                    class="text-muted fw-light"
                  >/box</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>€142.80 in one time</li>
                  <li>12 boxes + 1 free box</li>
                  <li>get surprised for a whole year</li>
                </ul>
                <button
                  type="submit"
                  class="anniversary w-100 btn btn-lg btn-outline-primary"
                >Purchase</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <footer>&copy; Coffee In A Box | 2022</footer>
    <script src="/js/subscribe.js"></script>
    {{! <script src="/js/cart.js"></script> }}
  </body>
</html>