<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
  </head>
  <body>

    {{! Navbar }}
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Coffee In A Box</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/subscription/presentation"
              >💌SUBSCRIPTION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/box">🎁OUR PREVIOUS BOXES</a>
            </li>
            {{#if session.userId}}
              <li class="nav-item">
                <a class="nav-link" href="/account/dashboard">🎈MY ACCOUNT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">LOGOUT</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/auth/signup">SIGNUP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">LOGIN</a>
              </li>
            {{/if}}

          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section }}
    <div class="container">
      <br />
      <div
        class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light home-banner"
      >
        <div class="col-md-7 p-lg-7 mx-auto my-5">
          <h1 class="fw-normal">Become a Coffee In A Box Subscriber</h1>
          <p class="lead fw-normal">Accessible way to discover a variety of
            coffee by a selection of our expert.</p>
          <a
            class="btn btn-outline-secondary"
            href="/subscription/presentation"
          >CHECK OUR PLAN</a>
        </div>
      </div>
      {{!-- {{#if session.userId}}
    <a href="/account/dashboard">🎈My Account</a>
    </br>
    <a href="#">💌The Subscriptions</a>
   {{/if}} --}}
    </div>
    <footer>&copy; Coffee In A Box | 2022</footer>
  </body>
</html>