/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/* Home Banner */

.home-banner {
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-position: 50% 0%;
}

/* Features */

#features .container-fluid {
  padding: 7% 10%;
}

.feature-box {
  padding: 0.5rem;
  text-align: center;
}

.emoji {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}

.delivery {
  transform: scale(-1, 1);
  /* width: fit-content; */
}

/* Extra utilities */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
