/* CSS VARIABLES */
:root {
  --primary-bg-color: white;
}

/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES*/
body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

p,
span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

footer {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 1rem 0;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 15px;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0;
}
