/* Vintage
https://colorhunt.co/palette/76616187a7b3cdc7bee1f1dd
https://colorhunt.co/palette/93b5c6c9ccd5e4d8dcffe3e3 */

/* CSS VARIABLES */
:root {
  --primary-bg-color: white;
}

/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-brand,
.nav-link {
  color: #766161;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #87a7b3;
}

.brand-logo {
  width: 45px;
  padding-right: 10px;
}

/* GLOBAL STYLES*/
body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

p,
span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

footer {
  color: #cdc7be;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 1rem 0 2rem;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 15px;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0;
}

/* Pricing */

.pricing-banner {
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-position: 50% 0%;
}

/* Account */

.dashboard,
.account-info,
.order-history,
.edit-info {
  background-color: #fcf8f3;
}

.account-greet,
.info-title,
.order-history-title,
.edit-info-title {
  color: #766161;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}
.account-item {
  font-size: 1.5rem;
  text-decoration: none !important;
  color: #93b5c6;
  font-weight: bold;
}

.account-item:hover {
  color: #cdc7be;
}

.account-info > h3 {
  font-size: 1.5rem;
  color: #93b5c6;
  font-weight: bold;
}

.account-info > a {
  font-size: 1rem;
  color: #c9ccd5;
  font-weight: bold;
}

.account-info > a:hover {
  font-size: 1rem;
  color: #93b5c6;
  font-weight: bold;
  text-decoration: none;
}

.edit-detail {
  font-size: 1.2rem;
  color: #93b5c6;
  font-weight: bold;
}

/* Create Box */

.create-box-form,
.edit-box-form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.create-box-admin {
  font-size: 1.2rem;
  color: #cdc7be;
  font-weight: bold;
}

.create-box-admin:hover {
  color: #93b5c6;
  text-decoration: none;
}

.box-title {
  color: #c37b89;
  font-weight: bold;
}

.release-month {
  color: #c9ccd5;
  font-weight: bold;
}

.box-details {
  color: #cdc7be;
  font-weight: bold;
}

.box-details:hover {
  color: #93b5c6;
  font-weight: bold;
  text-decoration: none;
}
