/* CSS VARIABLES */
:root {
  --primary-bg-color: white;
}

/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 1rem 0;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 15px;
}

.navbar {
  padding: 0;
}
