<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Box</title>
  </head>
  <body>

    {{! Navbar: Admin Access }}
    <nav class="navbar navbar-expand-lg px-5 py-3 mx-auto text-dark">
      <div class="container-fluid">
        <a class="navbar-brand pr-5 mr-5" href="/">Coffee In A Box</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 pl-5 ml-5">
            <li class="nav-item mx-1">
              <a
                class="nav-link"
                href="/subscription/presentation"
              >SUBSCRIPTION</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/box">OUR PREVIOUS BOXES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section }}
    <div class="container">

      <form action="/box/create" method="POST" enctype="multipart/form-data">
        <label>
          Title
          <input type="text" name="title" />
        </label>
        <label>
          Description
          <input type="text" name="description" />
        </label>
        <label>
          Release Month
          <input type="text" name="releaseMonth" />
        </label>
        <label>
          Release Year
          <input type="text" name="releaseYear" />
        </label>
        <label>
          Image URL
          <input type="file" name="imageUrl" />
        </label>

        <button type="submit">Create Box</button>
      </form>

      <br />
      <a href="/box">🔙Go Back</a>

      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}

    </div>
    <footer>&copy; Coffee In A Box | 2022</footer>
  </body>
</html>